@import '../../styles/colors.scss';

.student{
    width: 200px;

    .status{
        &.on{
            background-color: $successColorDark !important;
        }
        &.off{
            background-color: $errorColorDark !important;
        }
    }
}